body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #FDFDFD;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}


//shadow 
@mixin shadow($sd1, $sd2){
  box-shadow: $sd1, $sd2;
}

.shadow1 {
  @include shadow($sd1 : 0 1px 3px rgba(0,0,0,0.12), $sd2 : 0 1px 2px rgba(0,0,0,0.24));
}

.shadow2 {
  @include shadow($sd1 : 0 3px 6px rgba(0,0,0,0.16), $sd2 : 0 3px 6px rgba(0,0,0,0.23));
}

.shadow3 {
  @include shadow($sd1 : 0 10px 20px rgba(0,0,0,0.19), $sd2 : 0 6px 6px rgba(0,0,0,0.23));
}

.shadow4, .card:hover {
  @include shadow($sd1 : 0 14px 28px rgba(0,0,0,0.25), $sd2 : 0 10px 10px rgba(0,0,0,0.22));
}

.shadow5 {
  @include shadow($sd1 : 0 19px 38px rgba(0,0,0,0.30), $sd2 : 0 15px 12px rgba(0,0,0,0.22));
}

